    {% extends 'base.html' %}
    {% block content %}
    {% load humanize %}
    {% include "navbar.html" %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for b in books %}
          <div class="col">
            <div class="card m-1" style="width: auto;">
              <img class="card-img-top" src="{{b.image}}" alt="Card image cap" height="300">
              <div class="card-body">
                <h6 class="card-title text-truncate">{{ b.title }}</h6>
                <p>Giá: {{ b.price|intcomma }}</p>
                <a href="{% url 'detail' b.id %}" class="btn btn-primary">Chi tiết</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% endblock content %}