
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
      </svg>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Thể loại
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'books' %}?category=Y Học">Sách Y học</a></li>
            <li><a class="dropdown-item" href="{% url 'books' %}?category=Khoa học kỹ thuật">Sách Khoa học kỹ thuật</a></li>
            <li><a class="dropdown-item" href="{% url 'books' %}?category=Kinh tế">Sách Kinh tế</a></li>
            <li><a class="dropdown-item" href="{% url 'books' %}?category=Văn học">Sách Văn học</a></li>
            <li><a class="dropdown-item" href="{% url 'books' %}?category=Lịch sử">Sách Lịch sử</a></li>
            <li><a class="dropdown-item" href="{% url 'books' %}?category=Tâm lý">Sách Tâm lý</a></li>
            <li><a class="dropdown-item" href="{% url 'books' %}">Tất cả</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}?priceOrder=asc">Giá thấp đến cao</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}?priceOrder=desc">Giá cao đến thấp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sách mới</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sách giảm giá</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
